{% load static %}
<html>

<head>
    <title>BO Partner</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/bopartner.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
        integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin="" />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
        integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin=""></script>
</head>

<body>
    <div class="page-header">
        <h1><a href="/">BO Partner</a> |
        <a href="{% url 'firmen'%}">Übersicht Partner</a> |
        <a href="{% url 'firmen_kartenuebersicht'%}">Kartenübersicht</a> |
        <a href="{% url 'firmen_gefiltert' %}">Suche</a>
        {% if user.is_authenticated %}
        <a href="{% url 'neue_firma' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <p class="top-menu"><small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
         {% else %}
        <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
        {% endif %}
            </h1>

    </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>