{% extends 'bopartner/base.html' %}



{% block content %}
<div class="container">


    <div>


        <ul>
            <li class="list-group-item"><b>Firma: {{firma.name}}</b></li>
            <li class="list-group-item"><b>Anschrift</b></li>
            <li class="list-group-item">Straße: {{ firma.strasse }}</li>
            <li class="list-group-item">Hausnummer: {{ firma.hausnummer }}</li>
            {% if firma.hausnummerzusatz|length %}
                <li class="list-group-item">Hausnummerzusatz: {{ firma.hausnummerzusatz }}</li>
            {%endif%}
            <li class="list-group-item">Postleitzahl: {{ firma.plz }}</li>
            <li class="list-group-item">Bundesland: {{ firma.bundesland }}</li>
            <li class="list-group-item">Koordinaten: {{ firma.xKoordinate }}       {{ firma.yKoordinate }}</li>
        </ul>

        
    </div>

    <div>
        <ul>
            <li class="list-group-item"><b>Beschreibung</b></li>
            <li class="list-group-item">{{ firma.freie_beschreibung|linebreaksbr }}</li>
        </ul>
        
    </div>

    <div>
        <ul>
            <li class="list-group-item"><b>Bereiche</b></li>
            <li class="list-group-item">{{ firma.bereich|linebreaksbr }}</li>
        </ul>
        
    </div>

    {% if user.is_authenticated %}
    <div>

        <ul>
            <li class="list-group-item"><b>Kontakte</b></li>
            <li class="list-group-item">
                {% for kontakt in kontakte %}
                    {% if kontakt.firma.name == firma.name %}
                            <a href="{% url 'kontakt_detail' pk=kontakt.pk %}">{{ kontakt.vorname }} {{ kontakt.nachname }}</a><br>
                    {% endif %}
                {% endfor %}
            </li>
            <li class="list-group-item"><a href="{% url 'neuer_kontakt' %}">neuer Kontakt <span class="glyphicon glyphicon-plus"></span></a></li>
        </ul>

    </div>

    {% else %}

    {% endif %}
</div>

{% endblock %}