{% extends 'bopartner/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-4">
        <form method="get">
            {{ filter.form|crispy}}
          <button type="submit" class="btn btn-outline-danger btn-md">Suche</button>
        </form>
      </div>
      <div class="col-8">
          <ul>
            <br>
            <li class="list-group-item">Ergebnisse:</li>
            {% for firma in filter.qs %}
            <li class="list-group-item"><a href="{% url 'firma_detail' pk=firma.pk %}">{{ firma.name }}</a></li>
            {% endfor %}
          </ul>
      </div>
    </div> 
  </div> 


{% endblock %}