{% extends 'bopartner/base.html' %}

{% block content %}
    <div class="post">


        <ul>
            <li class="list-group-item"><b>Kontakt</b></li>
            <li class="list-group-item">Vorname: {{ kontakt.vorname }}</li>
            <li class="list-group-item">Nachname: {{ kontakt.nachname }}</li>
            {% if kontakt.telefon %}
                <li class="list-group-item">Telefon: {{ kontakt.telefon }}</li>
            {% endif %}
            {% if kontakt.telefon2 %}
                <li class="list-group-item">Telefon: {{ kontakt.telefon2 }}</li>
            {% endif %}
            <li class="list-group-item">Email: {{kontakt.email}}</li>
            <li class="list-group-item"><b>Beschreibung</b></li>
            <li class="list-group-item">{{ kontakt.freie_beschreibung }}</li>
        </ul>

    </div>
{% endblock %}